@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

:root {
  --primary-color: rgb(128, 128, 128);
  --primay-height: 100px;
  --primary-width: 700px;
  --black-two: #121212;
  --warm-grey: #888;
  --pale-grey: #e8e8e8;
  --azure: #0290ff;
  --white: #ffff;
  --dodger-blue: #379cf6;
  --medium-blue: #307bbe;
}

.book-cat,
.title,
.percentage,
.completed,
.current,
.chapter-number {
  color: var(--black-two);
}

.book-title,
.author,
.btns .MuiButton-text,
.percentage,
.completed,
.current,
.chapter-number,
.form-title,
.book-cat {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.book-cat,
.author,
.btns .MuiButton-text,
.percentage, .completed,
.current {
  letter-spacing: normal;
}

.book-container,
.complete-bar,
.status-bar,
.form-container {
  display: flex;
}

.book-title,
.current,
.chapter-number {
  width: 100%;
}

.status-bar,
.chapter,
.book-details {
  width: 24rem;
}

.percentage,
.completed,
.form-title,
.book-cat {
  font-family: 'Montserrat', sans-serif;
}

.book-title,
.author,
.current, 
.chapter-number,
.btns .MuiButton-text {
  font-family: 'RobotoSlab', sans-serif;
}

.book-title,
.form-title,
.book-cat {
  font-weight: bold;
}

body {
  width: 73rem;
  height: 89.625rem;
  padding: 2.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--pale-grey);
}

.App {
  width: 73.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}

.book-container {
  justify-content: space-between;
  width: 73.3rem;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
  padding-top: 3rem;
}

.book-cat {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
}

.book-title {
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.btns .MuiButton-text {
  width: 4.563rem;
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  text-transform: capitalize;
}

.line-2 {
  width: 0.125rem;
  height: 1.5rem;
  border: solid 1px #e8e8e8;
}

.book-details {
  margin-left: 2rem;
}

.complete-bar {
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(var(--medium-blue), var(--medium-blue), var(--pale-grey), var(--pale-grey));
}

.inner-bar {
  width: 5.85rem;
  height: 5.85rem;
  border-radius: 50%;
  background-color: white;
}

.percentage,
.completed {
  font-weight: normal;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
}

.horizontal-line {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
  background-color: var(--pale-grey);
}

.current {
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: uppercase;
}

.chapter-number {
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.book-container .chapter .progress-btn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  border-radius: 3px;
}

.book-details .btns {
  position: relative;
  right: 0.5rem;
}

.chapter {
  position: relative;
  right: 3.8rem;
}

.form-title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 1.2rem;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: var(--warm-grey);
}

.form-container {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.book-container .chapter .progress-btn,
.form-main .MuiButton-text {
  background-color: var(--azure);
}
