body {
  background-color: #f5f6fa;
}
.App {
  text-align: center;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#demo-simple-select-outlined-label{
  font-size: 0.8rem;
}

.book-container {
  width: 75rem;
  height: 10rem;
  border: 1px solid #e8e8e8;
  margin-left: 6.25rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 3rem;
}
.MuiButtonGroup-root .MuiButton-text{
  text-transform: capitalize;
  color: #4386bf;
}
.MuiButtonGroup-root .MuiButton-startIcon {
  color: red !important;
}